<!DOCTYPE html>
<html>
<head>
	<link href="css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <link rel="stylesheet" type="text/css" href="css/navbar.css" />
	<title>More Recipe</title>
</head>
<body>
<div class="container">
	<div class="row">
		<div class="navbar-wrapper">
    		<div class="container-fluid">
        <nav class="navbar navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">More Recipe</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#" class="">Home</a></li>
                        <li><a href="#">Add Recipe</a></li>
                    </ul>
                    <ul class="nav navbar-nav pull-right">
                        <li>
                            <a href=""><span class=" glyphicon glyphicon-search"></span></a>
                        </li>
                        <li> <a href="">My profile</a></li>
                        <li class=""><a href="#">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    		</div>
		</div>
	</div>
	<div class="clear-fix"></div>
    <div class="row" style="margin-top: 60px">
        <div class="col-md-6 col-lg-6">
            <div class="blog-stripe">
                <a href="#">
                    <img src="http://placehold.it/500x400" alt="" class="feature">
                </a>
                <div class="block-title">
                    <h2 class="text-xs-center">Featured article title</h2>
                    <p class="author text-xs-center"><small>Author name</small></p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6">
            <ul class="all-blogs">
                <li class="media">
                    <a class="float-xs-left" href="#">
                        <img src="http://placehold.it/200x100" alt="...">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Latest Google Updates</h4>
                        <p class="author">Mike Smith</p>
                    </div>
                </li>
                <li class="media">
                    <a class="float-xs-left" href="#">
                        <img class="media-object" src="http://placehold.it/200x100" alt="...">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Newest bootstrap version</h4>
                        <p class="author">Dave Hesler</p>
                    </div>
                </li>
                <li class="media">
                    <a class="float-xs-left" href="#">
                        <img class="media-object" src="http://placehold.it/200x100" alt="...">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Android rolls our another update</h4>
                        <p class="author">Michael Davis</p>
                    </div>
                </li>
                <li class="media">
                    <a class="float-xs-left" href="#">
                        <img class="media-object" src="http://placehold.it/200x100" alt="...">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Survey results are out</h4>
                        <p class="author">Mike Smith</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<script type="text/javascript" src="js/bootsrap.js"></script>
</body>
</html>