<!DOCTYPE html>
<html>
<head>
	<link href="css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <link rel="stylesheet" type="text/css" href="css/navbar.css" />
	<title>More Recipe</title>
</head>
<body>
<div class="container">
	<div class="row">
		<div class="navbar-wrapper">
    		<div class="container-fluid">
        <nav class="navbar navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">More Recipe</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#" class="">Home</a></li>
                        <li><a href="#">Add Recipe</a></li>
                    </ul>
                    <ul class="nav navbar-nav pull-right">
                        <li>
                            <a href=""><span class=" glyphicon glyphicon-search"></span></a>
                        </li>
                        <li> <a href="">My profile</a></li>
                        <li class=""><a href="#">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    		</div>
		</div>
	</div>
	<div class="clear-fix"></div>
    <div class="row" style="margin-top: 60px">
       <div class="container h-100 d-flex justify-content-center">
            <div class="jumbotron my-auto">
              <form method="post" action="#" enctype=""> 
                    <div class="form-group">
                        <label for="recipe_name">Recipe Name</label>
                        <span style="color: red">*</span>
                        <input type="text" name="recipe_name" required="">
                    </div>
              </form>
            </div>
        </div>
           
       </div>
    </div>
</div>

<script type="text/javascript" src="js/bootsrap.js"></script>
</body>
</html>